/* src/components/PlayerShotDataGAA.css */

.stage-container {
    display: flex;
    justify-content: center;
    margin: 20px auto; /* or any other style you prefer */
  }
  
.player-shot-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e2e2e; /* Dark background for contrast */
    min-height: 100vh;
    padding: 20px;
  }
  
  .back-button,
  .export-button {
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-button:hover,
  .export-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .loading-container,
  .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
  }
  
  .spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .tooltip {
    /* Additional tooltip styles can go here if needed */
  }
  
  .player-shot-data-container h1 {
    margin-bottom: 20px;
  }
  
  .back-button,
  .export-button {
    font-size: 16px;
  }
  
.color-modal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
  .color-modal-header {
    color: purple;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .custom-color-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: background 0.3s ease;
  }
  
  .custom-color-button:hover {
    background-color: #444;
  }
  
  