/* Main wrapper to hold pitch, instructions, and setup */
.main-scroll-container {
  display: flex;
  flex-direction: row; /* Arrange children horizontally */
  width: 100%; /* Make it take up the full width */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
}

/* Pitch and instructions container should scroll together */
.content {
  display: flex;
  flex-direction: column; /* Stack pitch and data vertically */
  width: 100%; /* Ensure full width */
  overflow: auto; /* Allow scrolling if needed */
}

.pitch-container {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure the pitch container takes full width */
  overflow: hidden; /* Hide overflow to avoid scrolling issues */
  touch-action: pinch-zoom; /* Allow pinch-to-zoom */
}

.scroll-container {
  display: flex; /* Flex to arrange children horizontally */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of content */
  width: 100%; /* Take up full width */
}

/* Team buttons container to align them in a row */
.team-buttons-container {
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  justify-content: center; /* Center the buttons */
  gap: 10px; /* Add some space between the buttons */
  flex-wrap: wrap; /* Allow wrapping in case the buttons exceed the available width */
}

.setup-team-container {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  color: white;
  max-width: 95%; 
  width: 100%; 
  display: flex;
  flex-direction: column;
}

.setup-team-container h3 {
  text-align: center;
  margin-bottom: 10px; 
}

.team-players {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 100%; 
}

.team-players button {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.team-players button:hover {
  background-color: #0056b3;
}

.button {
  background-color: #501387;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 5px;
  flex: 1;
  text-align: center;
}

.button:hover {
  background-color: #5e2e8f;
}

.pitch-graphic {
  width: 100%;
  height: auto;
  max-width: 1000px;
}

.content {
  display: flex;
  padding: 20px;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100%;
  overflow: auto;
}

.pitch-and-data-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-right: 10px;
  align-items: center;
}

.aggregated-data-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  max-width: 1000px;
  margin-top: 500px; /* Push it 500px lower */
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.button {
  background-color: #501387;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 5px 0;
  width: 100%;
}

.button:hover {
  background-color: #5e2e8f;
}

.action-buttons {
  display: flex;
  flex-direction: column;
}

.action-button {
  background-color: #501387;
  color: rgb(184, 184, 184); 
  border: 1px solid;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 5px 0;
  width: 100%;
}

.action-button.pass { border-color: blue; }
.action-button.assist { border-color: green; }

.instructions-container {
  max-width: 280px; /* Limit the width so that the content stays inside */
  width: 100%; /* Ensure it adjusts according to available space */
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
  color: white;
  word-wrap: break-word; /* Ensure long words wrap correctly */
  overflow: hidden; /* Hide any overflowing content */
  box-sizing: border-box; /* Ensure padding and width behave properly */
}

.instructions-container h3,
.instructions-container p {
  margin-bottom: 10px;
}

.instructions-container p {
  color: white;
  font-size: 14px;
  line-height: 1.4; /* Improve readability */
  white-space: normal; /* Ensure text wraps properly */
}


.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3e3e3e;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  max-width: 400px;
  width: 100%;
  max-height: 95vh;
  overflow-y: auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: #2e2e2e;
  color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .content-area {
    flex: 1;
    overflow: visible;
  }

  .pitch-container {
    width: 100%;
    padding: 10px;
    overflow-x: auto;
  }

  .instructions-container {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .button-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .button {
    width: 48%;
    margin: 5px 1%;
  }
}

.custom-slider-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.custom-slider-container label {
  margin-right: 10px;
  color: white;
}

.custom-slider {
  flex: 1;
}

@media (max-width: 375px) {
  .pitch-container {
    padding: 10px;
  }

  .instructions-container {
    margin-top: 10px;
    max-width: 100%;
  }

  .button {
    font-size: 0.75rem;
    padding: 8px 16px;
  }

  .action-button {
    font-size: 0.75rem;
    padding: 4px 8px;
  }
}

@media (max-width: 320px) {
  .pitch-container {
    padding: 5px;
  }

  .instructions-container {
    margin-top: 5px;
    max-width: 100%;
  }

  .button {
    font-size: 0.7rem;
    padding: 6px 12px;
  }

  .action-button {
    font-size: 0.7rem;
    padding: 3px 6px;
  }
}

@media (max-width: 667px) and (orientation: landscape) {
  .pitch-container {
    flex-direction: row;
    padding: 10px;
  }

  .instructions-container {
    margin-right: 10px;
    margin-top: 0;
    max-width: 50%;
  }

  .button-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .button, .action-button {
    width: 48%;
    margin: 5px 1%;
  }
}

@media (max-width: 568px) and (orientation: landscape) {
  .pitch-container {
    flex-direction: row;
    padding: 5px;
  }

  .instructions-container {
    margin-right: 5px;
    margin-top: 0;
    max-width: 50%;
  }

  .button-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .button, .action-button {
    width: 48%;
    margin: 5px 1%;
  }
}
