/* src/Profile.css */
.profile-container {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container h2, .profile-container h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.profile-container p {
  font-size: 16px;
  color: #666;
}

.cancel-button, .logout-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #d9534f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button:hover, .logout-button:hover {
  background-color: #c9302c;
}
 