/* Root Variables for Colors */
:root {
    --primary-color: #5e2e8f;
    --secondary-color: #733faa;
    --background-color: #333;
    --text-color: #ffffff;
    --hover-color: #6f42c1;
    --active-color: #4b1f87;
}

/* Sessions Page Styles */
.sessions-page {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    min-height: 130vh;
    box-sizing: border-box;
}

.sessions-title {
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--secondary-color);
    text-align: center;
}

/* Toolbar Styles */
.toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.toolbar label {
    color: var(--text-color);
    font-size: 1.2em;
}

.toolbar select {
    padding: 8px 12px;
    font-size: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><polygon points="0,0 10,0 5,5" style="fill:%23000;"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 5px;
    padding-right: 30px;
    transition: background-color 0.3s, border-color 0.3s;
}

.toolbar select:focus {
    outline: none;
    border-color: var(--hover-color);
}

/* Button Styles */
.toolbar button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toolbar button:hover {
    background-color: var(--hover-color);
}

.toolbar button:last-child {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.toolbar button:last-child:hover {
    background-color: var(--hover-color);
}

/* Top Navigation Styles */
.sessions-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sessions-nav-item {
    position: relative;
    padding: 10px 20px;
    margin: 0 5px;
    background: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 20px 20px 0 0; /* Rounded top corners */
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  /* Add a pseudo-element to create a 'pile' effect, like overlapping shapes */
  .sessions-nav-item::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 20px;
    background: var(--primary-color);
    border-radius: 10px;
    z-index: -1;
    opacity: 0.5;
  }
  
  /* Hover effect */
  .sessions-nav-item:hover {
    background: var(--hover-color);
  }
  
  /* Active tab styling */
  .sessions-nav-item.active {
    background: var(--secondary-color);
  }
  .sessions-nav-item.active::before {
    background: var(--secondary-color);
  }

/* Pitch Container */
.pitch-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 8px;
    width: 100%;
    max-height: calc(100vh - 220px); /* Increased max-height with more buffer */
    height: auto; /* Allow height to adjust */
    overflow-x: auto;
    overflow-y: hidden; /* Prevent vertical scrolling */
}

/* Canvas Styles */
.konvajs-content {
    width: 100%;
    height: 100%;
}

/* Drill Explanation Styles */
.drill-explanation {
    margin-top: 20px;
    width: 100%;
    color: var(--text-color);
}

.drill-explanation h2 {
    color: var(--text-color);
}

.drill-explanation textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    resize: vertical;
    min-height: 100px;
}

.drill-explanation textarea::placeholder {
    color: #666;
}

/* Scrollbar Styling */
.pitch-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.pitch-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
}

.pitch-container::-webkit-scrollbar-track {
    background-color: #3b1761;
}

/* Responsive Adjustments */
@media (max-width: 480px) {
    .sessions-title {
        font-size: 1.4em;
    }

    .toolbar label {
        font-size: 0.9em;
    }

    .toolbar select {
        font-size: 0.8em;
        padding: 6px 10px;
    }

    .toolbar button {
        padding: 7px 10px;
        font-size: 0.8em;
    }

    .pitch-container {
        max-height: calc(100vh - 180px); /* Smaller screens adjustment */
    }
    .sessions-page {
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
        min-height: 120vh;
        box-sizing: border-box;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .sessions-title {
        font-size: 1.5em;
    }

    .toolbar label {
        font-size: 1em;
    }

    .toolbar select {
        font-size: 0.9em;
    }

    .toolbar button {
        padding: 8px 12px;
        font-size: 0.9em;
    }

    .pitch-container {
        max-height: calc(150vh - 150px); /* Tablet-sized screens */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .pitch-container {
        max-height: calc(300vh + 200px); /* Laptop screens */
    }

    .sessions-page {
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
        min-height: 120vh;
        box-sizing: border-box;
    }
}

@media (min-width: 1025px) {
    .pitch-container {
        max-height: calc(150vh + 200px); /* Larger screens */
    }
}

/* Modal Styles */
.custom-modal .modal-content {
    background-color: #333;
    color: var(--text-color);
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
    border-color: #444;
}

.custom-modal .modal-title {
    color: var(--text-color);
}

.custom-modal .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.custom-modal .btn-primary:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.custom-modal .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.custom-modal .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.custom-modal .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.custom-modal .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.custom-modal .form-control {
    background-color: #444;
    color: var(--text-color);
    border: 1px solid #555;
}

.custom-modal .form-control:focus {
    background-color: #555;
    color: var(--text-color);
    border-color: var(--primary-color);
}

.custom-modal .form-label,
.custom-modal .form-check-label {
    color: var(--text-color);
}

.custom-modal .form-control::placeholder {
    color: #ccc;
}