/* Sessions.css */
.sessions-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .toolbar {
    margin-bottom: 10px;
  }
  
  .toolbar button {
    margin-right: 10px;
  }
  
  .editor {
    position: relative;
  }
  
  .description {
    margin-top: 20px;
    width: 80%;
  }
  
  .description textarea {
    width: 100%;
    height: 100px;
  }
  