/* Sidebar Styles */
.sidebar {
  width: 230px;
  background-color: #5E2E8F;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 60px;
  align-items: flex-start;
}

.sidebar .user-info {
  margin-bottom: 20px;
}

.logo {
  width: 100%;
  margin-bottom: 20px;
}

.sidebar.collapsed .logo {
  display: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav ul li {
  margin: 15px 0;
}

nav ul li button,
nav ul li select {
  width: 100%;
  background-color: #501387;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
}

.sidebar.collapsed nav ul {
  display: none; /* Hide the nav items when sidebar is collapsed */
}

/* Loading button styles */
.scorelect-pro-button {
  position: relative;
  overflow: hidden;
  background-color: #501387;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scorelect-pro-button.loading {
  pointer-events: none;
  color: #FFF;
}

.scorelect-pro-button.loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.scorelect-pro-button.loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #FFD700;
  width: 0;
  animation: fillButton 2s forwards;
}

@keyframes fillButton {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

nav ul li select {
  margin-top: 5px;
}

nav ul li button:hover,
nav ul li select:hover {
  background-color: #6d21af;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-start;
  margin-bottom: 20px;
}

.toggle-button:focus {
  outline: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.collapsed {
    width: 60px;
  }

  .toggle-button {
    display: block;
  }
}
