.top-bar {
    background-color: #501387;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .top-bar h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  